<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>NUTRI CARING</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/static/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="/static/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="/static/plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="/static/css/style.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

</head>

<body>


<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="index.html">NUTRI CARING</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="bmi.html">BMI Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="diet.html">Diet plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
       <center><h1 class="text-white font-tertiary">Conditions</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="/static/images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="/static/images/illustrations/leaf-pink-round.png" alt="illustrations" class="bg-shape-2">

  <img src="/static/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="/static/images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-5" height="200">
  <img src="/static/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-6">
  <img src="/static/images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="font-tertiary mb-5">
</h3>

        <div class="content">
          <img src="/static/images/c.gif" alt="post-thumb" class="img-fluid rounded float-left mr-5 mb-4" width="400" height="800">
          <strong>A Guide to Healthy Low Carb Eating with Diabetes</strong>
<br>
          <p>Diabetes is a chronic disease that affects many people across the globe.

Currently, more than 400 million people have diabetes worldwide (1).

Although diabetes is a complicated disease, maintaining good blood sugar levels can greatly reduce the risk of complications (2, 3Trusted Source).

One of the ways to achieve better blood sugar levels is to follow a low carb diet.

This article provides a detailed overview of very low carb diets for managing diabetes.</p>

<h4>What is diabetes, and what role does food play? </h4>
<br>

          <p>With diabetes, the body can’t effectively process carbohydrates.

Normally, when you eat carbs, they’re broken down into small units of glucose, which end up as blood sugar.

When blood sugar levels go up, the pancreas responds by producing the hormone insulin. This hormone allows blood sugar to enter cells.
In people without diabetes, blood sugar levels remain within a narrow range throughout the day. For those who have diabetes, however, this system doesn’t work in the same way.

This is a big problem, because having both too high and too low blood sugar levels can cause severe harm.

There are several types of diabetes, but the two most common ones are type 1 and type 2 diabetes. Both of these conditions can occur at any age.

In type 1 diabetes, an autoimmune process destroys the insulin-producing beta cells in the pancreas. People with diabetes take insulin several times a day to ensure that glucose gets into the cells and stays at a healthy level in the bloodstream .

In type 2 diabetes, the beta cells at first produce enough insulin, but the body’s cells are resistant to its action, so blood sugar remains high. To compensate, the pancreas produces more insulin, attempting to bring blood sugar down.

Over time, the beta cells lose their ability to produce enough insulin.

Of the three macronutrients — protein, carbs, and fat — carbs have the greatest impact on blood sugar management. This is because the body breaks them down into glucose.

Therefore, people with diabetes may need to take large doses of insulin, medication, or both when they eat a lot of carbohydrates.</p>



<h4>Can very low carb diets help manage diabetes?</h4>
<br>

   <p>Many studies support low carb diets for the treatment of diabetes.

In fact, before the discovery of insulin in 1921, very low carb diets were considered standard treatment for people with diabetes.

What’s more, low carb diets seem to work well in the long term when people stick to them.

In one study, people with type 2 diabetes ate a low carb diet for 6 months. Their diabetes remained well managed more than 3 years later if they stuck to the diet.

Similarly, when people with type 1 diabetes followed a carb-restricted diet, those who followed the diet saw a significant improvement in blood sugar levels over a 4-year period.
</p>

    <h4>What’s the optimal carb intake for people with diabetes?</h4>
    <br>
    The ideal carb intake for people living with diabetes is a somewhat controversial topic, even among those who support carb restriction.

  Many studies found dramatic improvements in blood sugar levels, body weight, and other markers when carbs were restricted to 20 grams per day.

  Dr. Richard K. Bernstein, who has type 1 diabetes, has eaten 30 grams of carbs per day and documented excellent blood sugar management in his patients who follow the same regimen .

  However, other research shows that more moderate carb restriction, such as 70–90 grams of total carbs, or 20% of calories from carbs, is also effective.

  The optimal amount of carbs may also vary by individual, since everyone has a unique response to carbs.

  According to the American Diabetes Association (ADA), there’s no one-size-fits-all diet that works for everyone with diabetes. Personalized meal plans, which take into account your dietary preferences and metabolic goals, are best (17).
  The ADA also recommends that individuals work with their healthcare team to determine the carb intake that’s right for them.

  To figure out your ideal amount of carbs, you may want to measure your blood glucose with a meter before a meal and again 1 to 2 hours after eating.

  As long as your blood sugar remains below 140 mg/dL (8 mmol/L), the point at which damage to nerves can occur, you can consume 6 grams, 10 grams, or 25 grams of carbs per meal on a low carb diet.

  It all depends on your personal tolerance. Just remember that the general rule is the less carbs you eat, the less your blood sugar will rise.
  And, rather than eliminating all carbs, a healthy low carb diet should actually include nutrient-dense, high fiber carb sources, like vegetables, berries, nuts, and seeds.

<br><br>
    <h4>Which carbs raise blood sugar levels?</h4>

<p>In plant foods, carbs comprise a combination of starch, sugar, and fiber. Only the starch and sugar components raise blood sugar.

Fiber that’s naturally found in foods, whether soluble or insoluble, doesn’t break down into glucose in the body, and doesn’t raise blood sugar levels (18).

You can actually subtract the fiber and sugar alcohols from the total carb content, leaving you with the digestible or “net” carb content. For example, 1 cup of cauliflower contains 5 grams of carbs, 3 of which are fiber. Therefore, its net carb content is 2 grams.

Prebiotic fiber, such as inulin, has even been shown to improve fasting blood sugar and other health markers in people with type 2 diabetes.

Sugar alcohols, such as maltitol, xylitol, erythritol, and sorbitol, are often used to sweeten sugar-free candy and other “diet” products.

Some of them, especially maltitol, can actually raise blood sugar levels in people with diabetes.

For this reason, use the net carb tool cautiously, as the count listed on a product’s label may not be accurate if all the carbs contributed by maltitol are subtracted from the total.

Furthermore, the net carb tool isn’t used by the Food and Drug Administration (FDA) or the ADA.
This carb counter may be a valuable resource. It provides data for hundreds of foods on total carbs, net carbs, fiber, protein and fat.
<br>
</p>
        
  <h4>Foods to eat and foods to avoid</h4>
    <br>
  It’s best to focus on eating low carb, whole foods with a lot of nutrients.
  <br>
  It’s also important to pay attention to your body’s hunger and fullness cues, regardless of what you’re eating.
  <br>

  <br>
  <h4>Foods to eat</h4><br>
  <P> You can eat the following low carb foods until you’re full. Also make sure to get enough protein at each meal:</P>
    * meat, poultry, and seafood<br>
    * eggs<br>
    * cheese<br>
    * nonstarchy vegetables (most vegetables except those listed below)<br>
    * avocados<br>
    * olives<br>
    * olive oil, coconut oil, butter, cream, sour cream, and cream cheese<br>

        <br>
            <br>
  <h4> Foods to eat in moderation</h4><br>
  You can eat the following foods in smaller quantities at meals, depending on your personal carb tolerance:<br>
<br>
* Berries: 1 cup or less
<br>
* Plain, Greek yogurt: 1 cup or less<br>
* Cottage cheese: 1/2 cup or less<br>
* Nuts and peanuts: 1–2 ounces, or 30–60 grams<br>
* Flaxseeds or chia seeds: 2 tablespoons<br>
* Dark chocolate (at least 85% cocoa): 30 grams or less<br>
* Winter squash (butternut, acorn, pumpkin, spaghetti, and hubbard): 1 cup or less<br>
* Liquor: 1.5 ounces, or 50 grams<br>
* Dry red or white wine: 4 ounces, or 120 grams<br>
<br>
Legumes, such as peas, lentils, and beans, are healthy sources of protein, though they do have carbs as well. Be sure to include them in your daily carb count.

Drastically reducing carbs usually lowers insulin levels, which causes the kidneys to release sodium and water (20).

Try to eat a cup of broth, a few olives, or some other salty low carb foods to make up for the lost sodium. Don’t be afraid to add a little extra salt to your meals.

However, if you have congestive heart failure, kidney disease, or high blood pressure, talk to your doctor before increasing the amount of sodium in your diet.


<br><br>
<h4> A sample day of very low carb meals for people with diabetes </h4>
<br>
<p>Here’s a sample menu with 15 grams or less of digestible carbs per meal. If your personal carb tolerance is higher or lower, you can adjust the serving sizes.
<br>
<h4>Breakfast: Eggs and spinach</h4>
<br>

* 3 eggs cooked in butter (1.5 grams of carbs)
<br>
* 1 cup sautéed spinach (3 grams of carbs)
<br><br>
<p>You can pair your eggs and spinach with:</p>
<br>
* 1 cup blackberries (6 grams of carbs)
<br>
* 1 cup coffee with cream and optional sugar-free sweetener
<br>
<br>
Total digestible carbs: 10.5 grams
<br>
<br>
<h4>Lunch: Cobb salad</h4>
<br>
<p>* 3 ounces (90 grams) cooked chicken
  <br>
* 1 ounces (30 grams) Roquefort cheese (1/2 gram of carbs)
<br>
* 1 slice bacon
<br>
* 1/2 medium avocado (2 grams of carbs)
<br>
* 1 cup chopped tomatoes (5 grams of carbs)
<br>
* 1 cup shredded lettuce (1 gram of carbs)
<br>
* olive oil and vinegar
<br>
You can pair your salad with:
<br>
* 20 grams (2 small squares) 85% dark chocolate (4 grams of carbs)
<br>
* 1 glass of iced tea with optional sugar-free sweetener
<br>

Total digestible carbs: 12.5 grams.</p>
<br>
<h4>Dinner: Salmon with veggies</h4>

<p>* 1/2 cup sautéed zucchini (3 grams of carbs)
  <br>
* 1 cup sautéed mushrooms (2 grams of carbs)
<br>
To complement your meal and for dessert:
<br><br>
* 4 ounces (120 g) red wine (3 grams of carbs)<br>
* 1/2 cup sliced strawberries with whipped cream<br>
* 1 ounce chopped walnuts (6 grams of carbs)<br>
Total digestible carbs: 14 grams</p><br>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card shadow">
            <img class="rounded card-img-top" src="/static/images/1.gif" alt="post-thumb" height="350">
            <div class="card-body">
              <center><h4 class="card-title"><a class="text-dark" href="health.html"><b>Healthy Eating</b></a></h4></center>

              <p class="cars-text">Discover the foods that fuel you so you can feel your best every day.</p>
              <a href="health.html" class="btn btn-xs btn-primary">Read More</a>
            </div>
          </article>
        </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/2.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="meal.html"><b>Cooking & Meal Prep</b></a>
            </h4>
            <p class="cars-text">  Simple cooking and meal prep tips to make your healthy meals less complicated.</p>
            <a href="meal.html" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/3.gif" alt="post-thumb" height="320">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="life.html"><b>Lifestyle Diets</b></a>
            </h4>
            <p class="cars-text">  There are tons of diets out there — we break them down for you so you can learn which ones might fit your needs.</p>
            <a href="life.html" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/4.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="vt.html"><b>Vitamins & Supplements</b></a>
            </h4>
            <p class="cars-text">Explore all there is to know about vitamins and supplements, including their benefits, signs of deficiencies, dosages, and so much more</p>
            <a href="vt.html" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/5.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="wm.html"><b>Weight Management</b></a>
            </h4>
            <p class="cars-text">
No matter what your goals are, we've got the science-backed support, tools, and guides to help you meet them.</p>
            <a href="wm.html" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/6.gif" alt="post-thumb" height="320">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="c.html"><b>Conditions</b></a>
            </h4>
            <p class="cars-text">Learn how the foods you put into your body affect your health and certain conditions, including heart health, diabetes, inflammation, and more.
</p>
            <a href="c.html" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->



<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
            <p class="text-white paragraph-lg font-secondary"><a href="mailto:nutricaring@gmail.com">Nutricaring@gmail.com</a></p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary"></p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright ©<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script>  <a href="themefisher.com"></a></p>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="/static/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/static/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="/static/plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="/static/plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="/static/js/script.js"></script>

</body>
</html>
