<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>NUTRI CARING</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/static/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="/static/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="/static/plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="/static/css/style.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

</head>

<body>


<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="/">NUTRI CARING</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bmi">BMI Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/diet">Diet plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
       <center><h1 class="text-white font-tertiary">Healthy Eating</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="/static/images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="/static/images/illustrations/leaf-pink-round.png" alt="illustrations" class="bg-shape-2">

  <img src="/static/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="/static/images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-5" height="200">
  <img src="/static/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-6">
  <img src="/static/images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="font-tertiary mb-5">Healthy Eating on the Go: A Guide to Dining Out, Traveling, and More
</h3>

        <div class="content">
          <img src="/static/images/a1.gif" alt="post-thumb" class="img-fluid rounded float-left mr-5 mb-4" width="400" height="800">
          <strong>Healthy eating basics | Rushing out the door | Dining out | Social gatherings | Traveling | Quarantine |
Bottom line</strong>
          <p>A healthy diet is an important cornerstone of good health, but that doesn’t mean it’s always easy.
<br>
Along with exercise and stress management, healthy eating reduces your risk of lifestyle diseases and helps manage health conditions.
<br>
However, the average American doesn’t eat a very healthy diet. The Healthy Eating Index from the U.S. Department of Agriculture (USDA) gave the average American diet a score of 59 out of 100, using the most recent data from 2015.
<br>Healthy eating while you’re away from home and on the go can pose unique challenges.
<br>
You may be tempted to skip meals. It may also be hard to find out where to purchase nutritious foods, decide what you should pack in your lunch bag, and determine how to maintain a balanced meal while eating out.
<br>
This comprehensive guide explains how to maintain a nutritious diet while you’re on the go.</p>
<br>
<br>
<h4>The basics of healthy eating</h4>

          <p>To eat healthy, you need to get a variety of nutrients from the five food groups — dairy, protein-rich foods, grains, fruits, and vegetables.
<br>
Each food group offers a different, main nutritional benefit, so by combining the food groups you can get a spectrum of nutrients that support good health.</p>
        <center>  <blockquote>Examples of foods from each group are:</blockquote>
          <p><b>Dairy:</b> milk, cheese, yogurt, lactose-free milk, fortified soy milk<br>
<b>Protein-rich foods:</b> seafood, meat, poultry, eggs, peas, beans, nuts, seeds, and soy products<br>
<b>Grains:</b> wheat, rice, oats, cornmeal, barley<br>
<b>Fruits:</b> fresh, canned, frozen, or dried fruits and 100% fruit juice<br>
<b>Vegetables (nonstarchy):</b> fresh, canned, frozen, or dried vegetables (raw or cooked) and 100% vegetable juice<br>
</p></center>
<p>
  MyPlate is a nutritional guide and meal planning tool that helps people eat healthy. The USDA developed it based on the Dietary Guidelines for Americans.

It recommends making at least half of your grains whole grains, varying your protein sources, and choosing low fat or fat-free dairy products.

To build a healthy plate — whether it’s for a meal or a snack — try pairing foods from at least two food groups to get a diversity of nutrients.
</p>
<p>
<h4>How to fill your plate for a healthy meal</h4>
Fill half of your plate with nonstarchy vegetables like spinach or collard greens.<br>
Then, fill one-fourth of your plate with protein-rich foods, such as chicken, fish, or navy beans, depending on your preferences.
Lastly, fill the remaining one-fourth of your plate with grains like rice or quinoa.<br>
<b>Healthy meal example 1:</b> baked garlic butter chicken, stir fry vegetables, and rice
<br>
<b>Healthy meal example 2:</b> a cheese sandwich made with whole grain bread, cottage cheese, and sliced tomatoes
</p>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card shadow">
            <img class="rounded card-img-top" src="/static/images/1.gif" alt="post-thumb" height="350">
            <div class="card-body">
              <center><h4 class="card-title"><a class="text-dark" href="/health"><b>Healthy Eating</b></a></center>
              </h4>
              <p class="cars-text">Discover the foods that fuel you so you can feel your best every day.</p>
              <a href="/health" class="btn btn-xs btn-primary">Read More</a>
            </div>
          </article>
        </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/2.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/meal"><b>Cooking & Meal Prep</b></a>
            </h4>
            <p class="cars-text">  Simple cooking and meal prep tips to make your healthy meals less complicated.</p>
            <a href="/meal" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/3.gif" alt="post-thumb" height="320">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/life"><b>Lifestyle Diets</b></a>
            </h4>
            <p class="cars-text">  There are tons of diets out there — we break them down for you so you can learn which ones might fit your needs.</p>
            <a href="/life" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/4.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/vitaminsSupplements"><b>Vitamins & Supplements</b></a>
            </h4>
            <p class="cars-text">Explore all there is to know about vitamins and supplements, including their benefits, signs of deficiencies, dosages, and so much more</p>
            <a href="/vitaminsSupplements" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/5.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/weight"><b>Weight Management</b></a>
            </h4>
            <p class="cars-text">
No matter what your goals are, we've got the science-backed support, tools, and guides to help you meet them.</p>
            <a href="/weight" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/6.gif" alt="post-thumb" height="320">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/conditions"><b>Conditions</b></a>
            </h4>
            <p class="cars-text">Learn how the foods you put into your body affect your health and certain conditions, including heart health, diabetes, inflammation, and more.
</p>
            <a href="/conditions" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->



<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
        <p class="text-white paragraph-lg font-secondary"><a href="mailto:nutricaring@gmail.com">Nutricaring@gmail.com</p></a>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary"></p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright ©<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> <a href=""></a></p>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="/static/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/static/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="/static/plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="/static/plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="/static/js/script.js"></script>

</body>
</html>
