<!DOCTYPE html>
<html lang="zxx">
<style>
     *   {
    box-sizing: border-box;
}
.decoration-one {
    background-color: #542cb7;
    margin: 0;
    border:0;
    border-radius: 12px;
    padding: 12px;
    color: white;
    font-weight: bold;
}
.decoration-one:hover {
    background-color: #542cb7;

}
a {
    text-decoration: none;
    color: white;
}
input[type=text] {
  width: 100%;
  padding: 15px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 3px solid green;
  border-radius: 10px;

}
</style>
<head>

  <meta charset="utf-8">
  <title>NUTRI CARING</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="static/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="static/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="static/plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="static/css/style.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">

</head>

<body>
  <body class="main-layout">
    <!-- loader  -->
    <!-- <div class="loader_bg">
      <div class="loader"><img src="static/images/loader.gif" alt="#" /></div>
    </div> -->

<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="/">NUTRI CARING</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bmi">BMI Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/diet">Diet Plans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary"><img src="static/images/logo.png" width="200" height="200"><br>Nutrition
 <br>Healthy eating in real life<br> </h1>
      </div>
    </div>
  </div>
  <div class="layer-bg w-100">
    <img class="img-fluid w-100" src="static/images/illustrations/leaf-bg.png" alt="bg-shape">
  </div>
  <div class="layer" id="l2">
    <img src="static/images/illustrations/dots-cyan.png" alt="bg-shape">
  </div>
  <div class="layer" id="l3">
    <img src="static/images/illustrations/leaf-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l4">
    <img src="static/images/illustrations/dots-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l5">
    <img src="static/images/illustrations/leaf-yellow.png" alt="bg-shape">
  </div>
  <div class="layer" id="l6">
    <img src="static/images/illustrations/leaf-cyan.png" alt="bg-shape">
  </div>
  <div class="layer" id="l7">
    <img src="static/images/illustrations/dots-group-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l8">
    <img src="static/images/illustrations/leaf-pink-round.png" alt="bg-shape">
  </div>
  <div class="layer" id="l9">
    <img src="static/images/illustrations/leaf-cyan-2.png" alt="bg-shape">
  </div>
  <!-- social icon -->
  <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
    <li class="mb-3"><a class="text-white" href="#"><i class="ti-facebook"></i></a></li>
    <li class="mb-3"><a class="text-white" href="#"><i class="ti-instagram"></i></a></li>


  </ul>
  <!-- /social icon -->
</section>
<!-- /hero area -->

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card shadow">
            <img class="rounded card-img-top" src="static/images/1.gif" alt="post-thumb" height="350">
            <div class="card-body">
              <center><h4 class="card-title"><a class="text-dark" href="/health"><b>Healthy Eating</b></a></center>
              </h4>
              <p class="cars-text">Discover the foods that fuel you so you can feel your best every day.</p>
              <a href="/health" class="btn btn-xs btn-primary">Read More</a>
            </div>
          </article>
        </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="static/images/2.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/meal"><b>Cooking & Meal Prep</b></a>
            </h4>
            <p class="cars-text">  Simple cooking and meal prep tips to make your healthy meals less complicated.</p>
            <a href="/meal" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="static/images/3.gif" alt="post-thumb" height="320">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/life"><b>Lifestyle Diets</b></a>
            </h4>
            <p class="cars-text">  There are tons of diets out there — we break them down for you so you can learn which ones might fit your needs.</p>
            <a href="/life" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="static/images/4.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="vt.html"><b>Vitamins & Supplements</b></a>
            </h4>
            <p class="cars-text">Explore all there is to know about vitamins and supplements, including their benefits, signs of deficiencies, dosages, and so much more</p>
            <a href="vt.html" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="static/images/5.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="wm.html"><b>Weight Management</b></a>
            </h4>
            <p class="cars-text">
No matter what your goals are, we've got the science-backed support, tools, and guides to help you meet them.</p>
            <a href="wm.html" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="static/images/6.gif" alt="post-thumb" height="320">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="c.html"><b>Conditions</b></a>
            </h4>
            <p class="cars-text">Learn how the foods you put into your body affect your health and certain conditions, including heart health, diabetes, inflammation, and more.
</p>
            <a href="c.html" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->

  <div id="bmical" class="bmi">
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, iniitial-scale=1"/>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css"/>
	</head>
<body>
<center>
  <nav class="navbar navbar-default">
		<div class="container-fluid">

		</div>
	</nav>
	<div class="col-md-3"></div>
	<div class="col-md-6 well">
		<h3 class="text-primary">BMI Calculator </h3>
    <br>
		<hr style="border-top:2px dotted #ccc;" />
    <br/>
    <br/>
		<form>
      <center>
			<div class="form-inline">
				<h4>Weight(kg)</h4>&nbsp; &nbsp;
				<input type="text" class="form-control" id="weight" size="15" >
&nbsp;
				<h4>Height(cm)</h4>&nbsp; &nbsp;
				<input type="text" class="form-control" id="height" size="15">
			</div>
<br>
<br>


			<button class="btn btn-primary" type="button" onClick="calculateBmi()">Calculate</button>
			<br /><br />
			<div class="form-inline">
				<h4>BMI:</h4>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
				<input class="form-control" type="text" id="bmi" size="15">
		&nbsp;
				<h4>Result:</h4>&nbsp; &nbsp;
				<input class="form-control" type="text" id="result" size="20">
			</div>
			<br/>
      <br/>
    </center>
		</form>
	</div>
  	</div>
<script src="static/js/script.js"></script><!-- skills -->
<section class="section">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="skyblue">
            <div class="wave" data-progress="25%"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Normal<br>(18.5-24.9)</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="green">
            <div class="wave" data-progress="50%"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Over Weight<br>(25-29.9)</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="yellow">
            <div class="wave" data-progress="50%"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Obese<br>(30-39.9)</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="red">
            <div class="wave" data-progress="90%"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Morbidly Obese<br>(>40)</h4>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

  <center>  <button class="btn btn-success" type="reset">Reset</button></center>
  </div>
</section>
<!-- /skills -->


  <!-- bg image -->
  <img class="img-fluid edu-bg-image w-100" src="static/images/backgrounds/education-bg.png" alt="bg-image">
</section>
<!-- /education -->

<!-- services -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Services</h2>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
          <img src="static/images/wl.png" width="90" height="90">
          <br>
          <br>
            <h4 class="mb-4">Weight Loss</h4>
            <p>Weight loss can have causes that aren't due to underlying disease. Examples include dieting, exercise, malnutrition or lack of access to food.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card active-bg-primary hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
          <img src="static/images/dl.png" width="90" height="90">
          <br>
          <br>
            <h4 class="mb-4">Diabetes</h4>
            <p>Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your main source of energy and comes from the food you eat. Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be used for energy.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <img src="static/images/wg.png" width="90" height="90">
            <br>
            <br>
            <h4 class="mb-4">Weight Gain</h4>
            <p>Weight gain can have causes that aren't due to underlying disease. Examples include overeating, physical inactivity, age or medication side effects.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /services -->



<!-- testimonial -->
<section class="section bg-primary position-relative testimonial-bg-shapes">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title text-white mb-5">REVIEWS</h2>
      </div>
      <div class="col-lg-10 mx-auto testimonial-slider">
        <!-- slider-item -->
        <div class="text-center testimonial-content">
          <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
          <p class="text-white mb-4">"I have found Rismi to be extremely knowledgeable about nutrition and anything to do with health. I consult Rismi on all aspects of nutrition whether it involves me or my kids. I trust her advice. Thanks to Rismi, the owner at the preschool where we send our kids, has realized the importance of feeding children healthy food, and has made changes at the school. I can only recommend Rismi!"</p>
          <img class="img-fluid rounded-circle mb-4 d-inline-block" src="static/images/c.jpeg" width="100" height="100"
            alt="client-image">
          <h4 class="text-white">fathima</h4>
          <h6 class="text-light mb-4"></h6>
        </div>
        <!-- slider-item -->
        <div class="text-center testimonial-content">
          <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
          <p class="text-white mb-4">I have found Rismi to be extremely knowledgeable about nutrition and anything to do with health. I consult Rismi on all aspects of nutrition whether it involves me or my kids. I trust her advice. Thanks to Rismi, the owner at the preschool where we send our kids, has realized the importance of feeding children healthy food, and has made changes at the school. I can only recommend Rismi!</p>
          <img class="img-fluid rounded-circle mb-4 d-inline-block" src="static/images/c.jpeg" width="100" height="100"
            alt="client-image">
          <h4 class="text-white">fathima</h4>
          <h6 class="text-light mb-4"></h6>
        </div>
        <!-- slider-item -->
        <div class="text-center testimonial-content">
          <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
          <p class="text-white mb-4">I have found Rismi to be extremely knowledgeable about nutrition and anything to do with health. I consult Rismi on all aspects of nutrition whether it involves me or my kids. I trust her advice. Thanks to Rismi, the owner at the preschool where we send our kids, has realized the importance of feeding children healthy food, and has made changes at the school. I can only recommend Rismi!</p>
          <img class="img-fluid rounded-circle mb-4 d-inline-block" src="static/images/c.jpeg" width="100" height="100"
            alt="client-image">
          <h4 class="text-white">fathima</h4>
          <h6 class="text-light mb-4"></h6>
        </div>
      </div>
    </div>
  </div>
  <!-- bg shapes -->
  <img src="static/images/backgrounds/map.png" alt="map" class="img-fluid bg-map">
  <img src="static/images/illustrations/dots-group-v.png" alt="bg-shape" class="img-fluid bg-shape-1">
  <img src="static/images/illustrations/leaf-orange.png" alt="bg-shape" class="img-fluid bg-shape-2">
  <img src="static/images/illustrations/dots-group-sm.png" alt="bg-shape" class="img-fluid bg-shape-3">
  <img src="static/images/illustrations/leaf-pink-round.png" alt="bg-shape" class="img-fluid bg-shape-4">
  <img src="static/images/illustrations/leaf-cyan.png" alt="bg-shape" class="img-fluid bg-shape-5">
</section>
<!-- /testimonial -->


<!-- contact -->
<section class="section section-on-footer" data-background="static/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contact Info</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80">Contact Form</h4>
          <form action="#" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Type Message Here"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary"><a href="mailto:nutricaring@gmail.com">Nutricaring@gmail.com</p></a>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary"></p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright ©<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script>  <a href="#"></a></p>
  </div>
</footer>
<!-- /footer -->
<script>
function calculateBmi() {
	var weight = document.getElementById('weight').value;
	var height = document.getElementById('height').value;

	if(weight > 0 && height > 0){
		var bmi = weight/(height/100*height/100);
		document.getElementById('bmi').value = bmi;

		if(bmi < 18.5){
			document.getElementById('result').value = "You are too thin.";
		}
		if(bmi > 18.5 && bmi < 24.9){
			document.getElementById('result').value = "You are healthy.";
		}
		if(bmi > 25){
			document.getElementById('result').value = "You are overweight.";
      document.getElementById('result').style.color ="red"
      document.getElementById('result').style.border ="3px solid"
		}
	}
	else{
		alert("Please enter something first!")
	}
}

  </script>
<!-- jQuery -->
<script src="static/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="static/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="static/plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="static/plugins/shuffle/shuffle.min.js"></script>
<script src="/static/js/imagesloaded.js"></script>
<!-- Main Script -->
<script src="static/js/script.js"></script>

</body>
</html>
