<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>NUTRI CARING</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/static/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="/static/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="/static/plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="/static/css/style.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

</head>

<body>


<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="index.html">NUTRI CARING</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="bmi.html">BMI Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="diet.html">Diet plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
       <center><h1 class="text-white font-tertiary">Cooking & Meal Preparation</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="/static/images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="/static/images/illustrations/leaf-pink-round.png" alt="illustrations" class="bg-shape-2">

  <img src="/static/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="/static/images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-5" height="200">
  <img src="/static/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-6">
  <img src="/static/images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="font-tertiary mb-5">17 Healthy No-Prep Recipes for the Days When You Just Can’t
</h3>

        <div class="content">
          <img src="/static/images/2a.gif" alt="post-thumb" class="img-fluid rounded float-left mr-5 mb-4" width="400" height="800">
          <strong>Stock up | Salads | Soups | Meaty mains | Meatless mains</strong>
          <p>These days, it’s understandable if making elaborate (and delicious! and healthy!) meals is the last thing on your mind.
<br>
Maybe the COVID-19 pandemic has you working a stressful job from home with kids squabbling in the background. Or maybe financial strain, an uncertain future, and lack of social interaction is starting to take a toll on your mental health.
<br>
Whatever your pandemic situation, by the time 5 p.m. rolls around, there may be plenty of days when you just can’t muster the oomph for a healthy, home-cooked dinner.
<br>
I’m right there with you.
<br>
As a work-from-home parent with three kids now schooling online, I’m not exactly leaping up from my laptop to prepare our evening meals lately.
<br>
But as a nutritionist, it’s still just as important to me that our meals be healthy and nourishing.
<br>
Through some trial and error, I’ve found that many minimal-work, done-in-a-flash recipes can actually feed us well.
<br>
Here’s everything you need to know about short-cutting your way to healthy, no-prep dinners.</p>
<br>
<br>
<h4><b>Stock up</b></h4>

          <p>
Pulling together healthy meals on the fly won’t happen without a little thinking ahead — mainly in the form of intentional grocery shopping.
<br>
Stock up on these convenient go-tos to set yourself up for no-prep meal success.
<h4><b>Proteins</b></h4>
<br>
* smoked salmon
<br>
* beans like chickpeas or hummus, black beans, cannellini beans, or pinto beans
<br>
* rotisserie chicken
<br>
* turkey or fish burgers
<br>
* eggs
<br>
* tofu
<br>
* block, shredded, and crumbled cheeses
<br>
<p>
  <h4><b>Starches</b></h4>
* whole wheat bread and bread crumbs
<br>
* frozen corn
<br>
* instant brown rice
<br>
* frozen gnocchi (made with wheat or veggies like cauliflower or sweet potato)
<br>
* premade whole wheat pizza crust, naan flatbreads, and pitas
<br>
* quick-cooking pasta like angel hair, tortellini, or shells
<br>

<p>
  <h4><b>Fruits and veggies</b></h4>

  <br>
  * baby carrots and other presliced veggies like bell peppers or zucchini
  <br>
* frozen veggies like peas, carrots, spinach, and green beans
<br>
* frozen veggie spirals like zucchini and butternut squash
<br>
* bagged greens like kale, spinach, or romaine
<br>
* bagged slaw with cabbage, carrot, or broccoli
<br>
* canned and dried fruits
<br>
* berries
<p>
  <h4><b>Easy flavor additions</b></h4>


* mustard
<br>
* mayonnaise
<br>
* olive oil
<br>
* vinegars like balsamic, red wine, and white wine
<br>
* dried herbs and spices
<br>
* grated Parmesan cheese
<br>
* salsa
</p>
<br>

<h3><b>Salads</b></h3>
<h4><b>Tuscan Tuna and White Bean Salad</b></h4>
<p>Think outside the can! Canned tuna tends to get put to work mainly in sandwiches, but it’s an excellent protein to add to a quick and easy salad — like this Mediterranean-inspired meal.</p>
<h4><b>Apple Salad with Chicken and Cherries</b></h4>
<p>Rotisserie chicken, apples, and dried cherries make quick work of this tasty salad on the sweeter side.</p>
<h4><b>Mexican Salad</b></h4>
<p>Full disclosure: You will have to do a little bit of chopping for this salad, but it’ll be worth it when you get a perfect bite with creamy avocado and juicy tomato.
<br>
Use a bag of presliced romaine to make things even easier. And when you’re really not feelin’ it at dinnertime, skip the homemade dressing in favor of an olive oil-based bottled variety.
      </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card shadow">
            <img class="rounded card-img-top" src="/static/images/1.gif" alt="post-thumb" height="350">
            <div class="card-body">
              <center><h4 class="card-title"><a class="text-dark" href="health.html"><b>Healthy Eating</b></a></center>
              </h4>
              <p class="cars-text">Discover the foods that fuel you so you can feel your best every day.</p>
              <a href="health.html" class="btn btn-xs btn-primary">Read More</a>
            </div>
          </article>
        </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/2.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/meal"><b>Cooking & Meal Prep</b></a>
            </h4>
            <p class="cars-text">  Simple cooking and meal prep tips to make your healthy meals less complicated.</p>
            <a href="/meal" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/3.gif" alt="post-thumb" height="320">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/life"><b>Lifestyle Diets</b></a>
            </h4>
            <p class="cars-text">  There are tons of diets out there — we break them down for you so you can learn which ones might fit your needs.</p>
            <a href="/life" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/4.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="vt.html"><b>Vitamins & Supplements</b></a>
            </h4>
            <p class="cars-text">Explore all there is to know about vitamins and supplements, including their benefits, signs of deficiencies, dosages, and so much more</p>
            <a href="vt.html" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/5.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="wm.html"><b>Weight Management</b></a>
            </h4>
            <p class="cars-text">
No matter what your goals are, we've got the science-backed support, tools, and guides to help you meet them.</p>
            <a href="wm.html" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/6.gif" alt="post-thumb" height="320">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="c.html"><b>Conditions</b></a>
            </h4>
            <p class="cars-text">Learn how the foods you put into your body affect your health and certain conditions, including heart health, diabetes, inflammation, and more.
</p>
            <a href="c.html" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->



<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
            <p class="text-white paragraph-lg font-secondary"><a href="mailto:nutricaring@gmail.com">Nutricaring@gmail.com</a></p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary"></p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright ©<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script>  <a href="themefisher.com"></a></p>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="/static/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/static/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="/static/plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="/static/plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="/static/js/script.js"></script>
<script src="//code.tidio.co/xbdhxkxfscutpek05qqsio8lidzekhy5.js" async></script>
</body>
</html>
