<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>NUTRI CARING</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>


<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="index.html">NUTRI CARING</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="bmi.html">BMI Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="diet.html">Diet plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
       <center><h1 class="text-white font-tertiary">Vitamins & Supplements</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="images/illustrations/leaf-pink-round.png" alt="illustrations" class="bg-shape-2">

  <img src="images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-5" height="200">
  <img src="images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-6">
  <img src="images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="font-tertiary mb-5">
</h3>

        <div class="content">
          <img src="images/vt.gif" alt="post-thumb" class="img-fluid rounded float-left mr-5 mb-4" width="400" height="800">
          <strong>10 Evidence-Based Health Benefits of Magnesium</strong>

          <p>Magnesium is the fourth most abundant mineral in the human body.
<br>
It plays several important roles in the health of your body and brain.
<br>
However, you may not be getting enough of it, even if you eat a healthy diet.
<br>
Here are 10 evidence-based health benefits of magnesium.</p>
<br>

<h4>1. Magnesium Is Involved in Hundreds of Biochemical Reactions in Your Body</h4>

          <p>Magnesium is a mineral found in the earth, sea, plants, animals and humans.
<br>
About 60% of the magnesium in your body is found in bone, while the rest is in muscles, soft tissues and fluids, including blood.
<br>
In fact, every cell in your body contains it and needs it to function.
<br>
One of magnesium’s main roles is acting as a cofactor or helper molecule in the biochemical reactions continuously performed by enzymes.
<br>
In fact, it’s involved in more than 600 reactions in your body, including:
<br>
<b>* Energy creation:</b>  Helps convert food into energy.
<br>
<b>* Protein formation:</b>  Helps create new proteins from amino acids.
<br>
<b>* Gene maintenance:</b>  Helps create and repair DNA and RNA.
<br>
<b>* Muscle movements:</b>  Is part of the contraction and relaxation of muscles.
<br>
<b>* Nervous system regulation:</b> Helps regulate neurotransmitters, which send messages throughout your brain and nervous system.
<br>
Unfortunately, studies suggest that about 50% of people in the US and Europe get less than the recommended daily amount of magnesium</p>
<br>


<h4> 2. It May Boost Exercise Performance</h4>
<br>

          <p>Magnesium also plays a role in exercise performance.
            <br>

During exercise, you may need 10–20% more magnesium than when you’re resting, depending on the activity.
<br>

Magnesium helps move blood sugar into your muscles and dispose of lactate, which can build up during exercise and cause fatigue.
<br>

Studies have shown that supplementing with it can boost exercise performance for athletes, the elderly and people with chronic disease.
<br>

In one study, volleyball players who took 250 mg of magnesium per day experienced improvements in jumping and arm movements.
<br>

In another study, athletes who supplemented with magnesium for four weeks had faster running, cycling and swimming times during a triathlon. They also experienced reductions in insulin and stress hormone levels.
<br>

However, the evidence is mixed. Other studies have found no benefit of magnesium supplements in athletes with low or normal levels of the mineral</p>
<br>


<h4> 3. Magnesium Fights Depression</h4>
<br>
<p>Magnesium plays a critical role in brain function and mood, and low levels are linked to an increased risk of depression.
<br>
One analysis in over 8,800 people found that people under the age of 65 with the lowest magnesium intake had a 22% greater risk of depression.
<br>
Some experts believe the low magnesium content of modern food may cause many cases of depression and mental illness.
<br>
However, others emphasize the need for more research in this area.
<br>
Nonetheless, supplementing with this mineral may help reduce symptoms of depression — and in some cases, the results can be dramatic.
<br>
In a randomized controlled trial in depressed older adults, 450 mg of magnesium daily improved mood as effectively as an antidepressant drug.
</p>

<h4>4. It Has Benefits Against Type 2 Diabetes</h4>
<br>
          <p>Magnesium also benefits people with type 2 diabetes.
<br>
Studies suggest that about 48% of people with type 2 diabetes have low levels of magnesium in their blood. This can impair insulin’s ability to keep blood sugar levels under control.
<br>
Additionally, research indicates that people with a low magnesium intake have a higher risk of developing diabetes.
<br>
One study which followed more than 4,000 people for 20 years found that those with the highest magnesium intake were 47% less likely to develop diabetes.
<br>
Another study showed that people with type 2 diabetes taking high doses of magnesium each day experienced significant improvements in blood sugar and hemoglobin A1c levels, compared to a control group.
<br>
However, these effects may depend on how much magnesium you’re getting from food. In a different study, supplements did not improve blood sugar or insulin levels in people who weren’t deficient.</p>
<br>
<h4> 5. Magnesium Can Lower Blood Pressure</h4>

          <p>Studies show that taking magnesium can lower blood pressure .
<br>
In one study, people who took 450 mg per day experienced a significant decrease in systolic and diastolic blood pressure.
<br>
However, these benefits may only occur in people who have high blood pressure.
<br>
Another study found that magnesium lowered blood pressure in people with high blood pressure but had no effect on those with normal levels.</p>
<br>
<h4> 6. It Has Anti-Inflammatory Benefits</h4>
<br>
    <p>Low magnesium intake is linked to chronic inflammation, which is one of the drivers of aging, obesity and chronic disease (29Trusted Source, 30Trusted Source, 31Trusted Source).
<br>
In one study, children with the lowest blood magnesium levels were found to have the highest levels of the inflammatory marker CRP.
<br>
They also had higher blood sugar, insulin and triglyceride levels (32Trusted Source).
<br>
Magnesium supplements can reduce CRP and other markers of inflammation in older adults, overweight people and those with prediabetes (33Trusted Source, 34Trusted Source, 35Trusted Source).
<br>
In the same way, high-magnesium foods — such as fatty fish and dark chocolate — can reduce inflammation.</p>
<br>

<h4> 7. Magnesium Can Help Prevent Migraines</h4>
<br>
          <p>Migraine headaches are painful and debilitating. Nausea, vomiting and sensitivity to light and noise often occur.
<br>
Some researchers believe that people who suffer from migraines are more likely than others to be magnesium deficient .
<br>
In fact, a few encouraging studies suggest that magnesium can prevent and even help treat migraines.
<br>
In one study, supplementing with 1 gram of magnesium provided relief from an acute migraine attack more quickly and effectively than a common medication.
<br>
Additionally, magnesium-rich foods may help reduce migraine symptoms .
</p>
<br>
<h4>8. It Reduces Insulin Resistance</h4>

          <p>Insulin resistance is one of the leading causes of metabolic syndrome and type 2 diabetes.
<br>
It’s characterized by an impaired ability of muscle and liver cells to properly absorb sugar from your bloodstream.
<br>
Magnesium plays a crucial role in this process, and many people with metabolic syndrome are deficient .
<br>
In addition, the high levels of insulin that accompany insulin resistance lead to the loss of magnesium through urine, further reducing your body’s levels.
<br>
Fortunately, increasing magnesium intake can help.
<br>
One study found that supplementing with this mineral reduced insulin resistance and blood sugar levels, even in people with normal blood levels.

<br>
</p>

<h4>9. Magnesium Improves PMS Symptoms</h4>
<br>
          <p>Premenstrual syndrome (PMS) is one of the most common disorders among women of childbearing age.
<br>
Its symptoms include water retention, abdominal cramps, tiredness and irritability.
<br>
Interestingly, magnesium has been shown to improve mood, reduce water retention and other symptoms in women with PMS.


<br>
</p>
<h4>10. Magnesium Is Safe and Widely Available</h4>
<br>
          <p>Magnesium is absolutely essential for good health. The recommended daily intake is 400–420 mg per day for men and 310–320 mg per day for women (48Trusted Source).
<br>
You can get it from both food and supplements.
<br>
<b>Food Sources</b>
<br>
The following foods are good to excellent sources of magnesium :
<br>
<b>Pumpkin seeds:</b> 46% of the RDI in a quarter cup (16 grams)
<br>
<b>Spinach, boiled:</b> 39% of the RDI in a cup (180 grams)
<br>
<b>Swiss chard, boiled:</b> 38% of the RDI in a cup (175 grams)
<br>
<b>Dark chocolate (70–85% cocoa):</b> 33% of the RDI in 3.5 ounces (100 grams)
<br>
<b>Black beans:</b> 30% of the RDI in a cup (172 grams)
<br>
<b>Quinoa, cooked: </b>33% of the RDI the in a cup (185 grams)
<br>
<b>Halibut:</b> 27% of the RDI in 3.5 ounces (100 grams)
<br>
<b>Almonds:</b> 25% of the RDI in a quarter cup (24 grams)
<br>
<b>Cashews:</b> 25% of the RDI in a quarter cup (30 grams)
<br>
<b>Mackerel:</b> 19% of the RDI in 3.5 ounces (100 grams)
<br>
<b>Avocado:</b> 15% of the RDI in one medium avocado (200 grams)
<br>
<b>Salmon:</b> 9% of the RDI in 3.5 ounces (100 grams)
<br>
</p>





        </div>
      </div>
    </div>
  </div>
</section>

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card shadow">
            <img class="rounded card-img-top" src="/static/images/1.gif" alt="post-thumb" height="350">
            <div class="card-body">
              <center><h4 class="card-title"><a class="text-dark" href="/health"><b>Healthy Eating</b></a></center>
              </h4>
              <p class="cars-text">Discover the foods that fuel you so you can feel your best every day.</p>
              <a href="/health" class="btn btn-xs btn-primary">Read More</a>
            </div>
          </article>
        </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/2.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/meal"><b>Cooking & Meal Prep</b></a>
            </h4>
            <p class="cars-text">  Simple cooking and meal prep tips to make your healthy meals less complicated.</p>
            <a href="/meal" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/3.gif" alt="post-thumb" height="320">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/life"><b>Lifestyle Diets</b></a>
            </h4>
            <p class="cars-text">  There are tons of diets out there — we break them down for you so you can learn which ones might fit your needs.</p>
            <a href="/life" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/4.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/vitaminsSupplements"><b>Vitamins & Supplements</b></a>
            </h4>
            <p class="cars-text">Explore all there is to know about vitamins and supplements, including their benefits, signs of deficiencies, dosages, and so much more</p>
            <a href="/vitaminsSupplements" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/5.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/weight"><b>Weight Management</b></a>
            </h4>
            <p class="cars-text">
No matter what your goals are, we've got the science-backed support, tools, and guides to help you meet them.</p>
            <a href="/weight" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/6.gif" alt="post-thumb" height="320">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/conditions"><b>Conditions</b></a>
            </h4>
            <p class="cars-text">Learn how the foods you put into your body affect your health and certain conditions, including heart health, diabetes, inflammation, and more.
</p>
            <a href="/conditions" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->



<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
            <p class="text-white paragraph-lg font-secondary"><a href="mailto:nutricaring@gmail.com">Nutricaring@gmail.com</a></p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary"></p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright ©<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script>  <a href="themefisher.com"></a></p>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>

</body>
</html>
