<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>NUTRI CARING</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/static/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="/static/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="/static/plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="/static/css/style.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

</head>

<body>


<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="/">NUTRI CARING</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bmi">BMI Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/diet">Diet plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
       <center><h1 class="text-white font-tertiary">Weight Management</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="/static/images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="/static/images/illustrations/leaf-pink-round.png" alt="illustrations" class="bg-shape-2">

  <img src="/static/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="/static/images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-5" height="200">
  <img src="/static/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-6">
  <img src="/static/images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="font-tertiary mb-5">
</h3>

        <div class="content">
          <img src="/static/images/wn.gif" alt="post-thumb" class="img-fluid rounded float-left mr-5 mb-4" width="400" height="800">
          <strong>How to Lose Weight Fast: 3 Simple Steps, Based on Science</strong>
<br>
          <p>If your doctor recommends it, there are ways to lose weight safely. A steady weight loss of 1 to 2 pounds per week is recommended for the most effective long-term weight management.
That said, many eating plans leave you feeling hungry or unsatisfied. These are major reasons why you might find it hard to stick to a healthier eating plan.
<br>
<br>
However, not all diets have this effect. Low carb diets and whole food, lower calorie diets are effective for weight loss and may be easier to stick to than other diets.
<br><br><br><br>
Here are some ways to lose weight that employ healthy eating, potentially lower carbs, and that aim to:
<BR>
* reduce your appetite
<br>
* cause fast weight loss
<br>
* improve your metabolic health at the same time</p>
<br>

<h4>How to Lose Weight Fast in 3 Simple Steps</h4>
<br>
<h4>1. Cut back on refined carbs</h4>
<br>
          <p>One way to lose weight quickly is to cut back on sugars and starches, or carbohydrates. This could be with a low carb eating plan or by reducing refined carbs and replacing them with whole grains.
<br>
When you do that, your hunger levels go down, and you generally end up eating fewer calories .
<br>
With a low carb eating plan, you’ll utilize burning stored fat for energy instead of carbs.
<br>
If you choose to eat more complex carbs like whole grains along with a calorie deficit, you’ll benefit from higher fiber and digest them more slowly. This makes them more filling to keep you satisfied.
<br>
A 2020 study confirmed that a very low carbohydrate diet was beneficial for losing weight in older populations .
<br>
Research also suggests that a low carb diet can reduce appetite, which may lead to eating fewer calories without thinking about it or feeling hungry .
<br>
Note that the long-term effects of a low carb diet are still being researched. It can also be difficult to adhere to a low carb diet, which may lead to yo-yo dieting and less success in maintaining a healthy weight.
<br>
There are potential downsides to a low carb diet that may lead you to a different method. Reduced calorie diets can also lead to weight loss and be easier to maintain for longer periods of time.
<br>
If you opt for a diet focusing instead on whole grains over refined carbs, a 2019 study correlated high whole grain with lower body mass index (BMI) .
<br>
To determine the best way for you to lose weight, consult your doctor for recommendations.</p>
<br>


<h4>2. Eat protein, fat, and vegetables</h4>
<br>

      <p>    <p>Each one of your meals should include
            <br>

  * a protein source
  <br>
  * fat source
<br>
  * vegetables
<br>
  * a small portion of complex carbohydrates, such as whole grains
  <br>
  </p>
  <p>


   To see how you can assemble your meals, check out:
<br>
    * this low carb meal plan
    <br>
    * this lower calorie meal plan
    <br>
    * these lists of 101 healthy low carb recipes and low calorie foods
<br>
    <h4>Protein</h4>
    <br>
    Eating a recommended amount of protein is essential to help preserve your health and muscle mass while losing weight.
<br>
    Evidence suggests that eating adequate protein may improve cardiometabolic risk factors, appetite, and body weight.
<br>
    Here’s how to determine how much you need to eat without eating too much. Many factors determine your specific needs, but generally, an average person needs :
<br>
    * 56–91 grams per day for the average male
    <br>
    * 46–75 grams per day for the average female
    <br>
        <br>
  Diets with adequate protein can also help:
<br>
    * reduce cravings and obsessive thoughts about food by 60%
    <br>
    * reduce the desire to snack late at night by half<br>
    * make you feel full<br>
    In one study, people on a higher protein diet ate 441 fewer calories per day .<br>
        <br>
            <br>
    <h4>Healthy protein sources include:</h4>
  * meat: beef, chicken, pork, and lamb<br>
    * fish and seafood: salmon, trout, and shrimp<br>
    * eggs: whole eggs with the yolk<br>
    * plant-based proteins: beans, legumes, quinoa, tempeh, and tofu<br>
        <br>
            <br>
  <h4>  Low carb and leafy green vegetables</h4>
    Don’t be afraid to load your plate with leafy green vegetables. They’re packed with nutrients, and you can eat very large amounts without greatly increasing calories and carbs.
<br>    <br>    <br>
  <h4>  Vegetables to include for low carb or low calorie eating plans:</h4><br>
    * broccoli<br>
    * cauliflower<br>
    * spinach<br>
    * tomatoes<br>
    * kale<br>
    * Brussels sprouts<br>
    * cabbage<br>
    * Swiss chard<br>
    * lettuce<br>
    * cucumber<br>
        <br>
            <br>
    <h4> Healthy fats</h4><br>
    Don’t be afraid of eating fats.<br>

    Your body still requires healthy fats no matter what eating plan you choose. Olive oil and avocado oil are great choices for including in your eating plan.
<br>
    Other fats such as butter and coconut oil should be used only in moderation due to their higher saturated fat content.

<br>

<br>


<h4> 3. Move your body</h4>
<br>
<p>Exercise, while not required to lose weight, can help you lose weight more quickly. Lifting weights has particularly good benefits.

<br>By lifting weights, you’ll burn lots of calories and prevent your metabolism from slowing down, which is a common side effect of losing weight.
<br>
Try going to the gym three to four times a week to lift weights. If you’re new to the gym, ask a trainer for some advice. Make sure your doctor is also aware of any new exercise plans.
<br>
If lifting weights is not an option for you, doing some cardio workouts such as walking, jogging, running, cycling, or swimming is very beneficial for weight loss and general health.
<br>
Both cardio and weightlifting can help with weight loss.</p>


        </div>
      </div>
    </div>
  </div>
</section>

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card shadow">
            <img class="rounded card-img-top" src="/static/images/1.gif" alt="post-thumb" height="350">
            <div class="card-body">
              <center><h4 class="card-title"><a class="text-dark" href="/health"><b>Healthy Eating</b></a></center>
              </h4>
              <p class="cars-text">Discover the foods that fuel you so you can feel your best every day.</p>
              <a href="/health" class="btn btn-xs btn-primary">Read More</a>
            </div>
          </article>
        </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/2.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/meal"><b>Cooking & Meal Prep</b></a>
            </h4>
            <p class="cars-text">  Simple cooking and meal prep tips to make your healthy meals less complicated.</p>
            <a href="/meal" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/3.gif" alt="post-thumb" height="320">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/life"><b>Lifestyle Diets</b></a>
            </h4>
            <p class="cars-text">  There are tons of diets out there — we break them down for you so you can learn which ones might fit your needs.</p>
            <a href="/life" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/4.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/vitaminsSupplements"><b>Vitamins & Supplements</b></a>
            </h4>
            <p class="cars-text">Explore all there is to know about vitamins and supplements, including their benefits, signs of deficiencies, dosages, and so much more</p>
            <a href="/vitaminsSupplements" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/5.gif" alt="post-thumb" height="350">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/weight"><b>Weight Management</b></a>
            </h4>
            <p class="cars-text">
No matter what your goals are, we've got the science-backed support, tools, and guides to help you meet them.</p>
            <a href="/weight" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="/static/images/6.gif" alt="post-thumb" height="320">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="/conditions"><b>Conditions</b></a>
            </h4>
            <p class="cars-text">Learn how the foods you put into your body affect your health and certain conditions, including heart health, diabetes, inflammation, and more.
</p>
            <a href="/conditions" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->



<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
            <p class="text-white paragraph-lg font-secondary"><a href="mailto:nutricaring@gmail.com">Nutricaring@gmail.com</a></p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary"></p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright ©<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script>  </p>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="/static/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/static/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="/static/plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="/static/plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="/static/js/script.js"></script>
<script src="//code.tidio.co/xbdhxkxfscutpek05qqsio8lidzekhy5.js" async></script>
</body>
</html>
